<% layout('layouts/boilerplate')%> 
    <h2 class="text-center">INTRO NEW WINDSPOT</h2>
    <div class="col-6 offset-3">
        <form action="/windspots" method="POST"  novalidate class="validated-form"  enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">WindSpot Name</label>
                <input type="input" class="form-control" id="title" name='windspot[title]' required>
                <div class="invalid-feedback">Introduce un nombre para el Spot</div>
                <div class="valid-feedback">Nombre del Spot Correcto</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">WindSpot Location</label>
                <input type="input" class="form-control" id="location" name='windspot[location]' required>
                <div class="invalid-feedback">Introduce una localización para el Spot</div>
                <div class="valid-feedback">Localización correcta</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">WindSpot Description</label>
                <textarea type="input" class="form-control" id="description" name='windspot[description]' required></textarea>
                <div class="invalid-feedback">Describe el spot (vientos favorables, acceso al mar, parking, espacio para montaje, etc...)</div>
                <div class="valid-feedback">Gracias por la descripción</div>
            </div>
             
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            
            <button class="btn btn-primary">Add WindSpot</button>
        </form>
    </div>

    
  
    
